body {
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}
a{
    text-decoration: none;
    width: 100px auto;
    font-size: 13px;
}
.carousel-control-prev,
.carousel-control-next
{
    color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    width: 20px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: black;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7f7272;
  }
  
  .container {
    padding: 20px;
  }
  
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .border {
    border: 1px solid #504b4b;
  }
  
  .text-center {
    text-align: center;
  }
  
  .font-weight-light {
    font-weight: lighter;
  }
  
  .fs-2 {
    font-size: 2.5rem;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .image img {
    object-fit: scale-down;    
    border-radius: 20%;
  } 