h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
ul { 
    list-style-type: none;
}
i {
    font-size: 22px;
    color: #000000;
}

@media (max-width: 768px) {
    .col-4,
    .col-8 {
        text-align: center;
    }

    img {
        max-width: 100%;
        border-radius: 0;
    }

    .icon {
        align-items: center;
    }

    .icon .btn {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .fs-6 {
        font-size: 16px;
    }
}
