
<div class="container-fluid p-lg-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h1 class="fw-bold mb-4">Contact me</h1>
            <div class="icon mt-3">
                <a href="https://github.com/mahmouddoma" class="text-decoration-none">
                    <button type="button" class="btn btn-primary bg-dark rounded-5">
                        <i class="bi bi-github"></i>
                    </button>
                    <a href="https://github.com/mahmouddoma">
                        <h3 class="ms-2 fs-6 fst-normal text-dark d-inline">Show More in Github</h3>
                    </a>
                </a>
            </div>
            <div class="icon d-flex mt-3">
                <a href="https://www.linkedin.com/in/mahmoud-doma-4520a222a/"> <button type="button"
                        class="btn btn-primary rounded-5"><i class="bi bi-linkedin"></i></button></a>
                <a href="https://www.linkedin.com/in/mahmoud-doma-4520a222a/">
                    <h3 class="ms-3 fs-6 fst-normal mt-2 ">Contact me on LinkedIn</h3>
                </a>
            </div>
            <div class="icon d-flex mt-3 ">
                <a href="https://www.facebook.com/mr.abodoma/"> <button type="button" id="facebook"
                        class="btn rounded-5"><i class="bi bi-facebook text-light "></i></button></a>
                <a href="https://www.facebook.com/mr.abodoma/">
                    <h3 class="ms-3 fs-6 fst-normal mt-2 ">Contact me on Facebook</h3>
                </a>
            </div>
            <div class="icon d-flex mt-3 ">
                <a href="https://twitter.com/Mahmouddoma20"> <button type="button"
                        class="btn btn-primary bg-dark rounded-5"><i class="bi bi-twitter-x"></i></button></a>
                <a href="https://twitter.com/Mahmouddoma20">
                    <h3 class="ms-3 fs-6 fst-normal mt-2 text-dark ">Contact me on Twitter</h3>
                </a>
            </div>
            <div class="icon d-flex mt-3 ">
                <a href="mailto:devdoma2002@gmail.com" class="l-mail text-danger"><button
                        type="button" class="btn btn-primary bg-dark rounded-5">
                        <i class="bi bi-envelope"></i></button></a>
                <a href="mailto:devdoma2002@gmail.com">
                    <h3 class="ms-3 fs-6 fst-normal mt-2 text-dark ">devdoma2002@gmail.com </h3>
                </a>
            </div>

            <!-- Email contact -->
            <div class="icon mt-3">
                <a href="mailto:devdoma2002@gmail.com" class="text-decoration-none">
                    <button type="button" class="btn btn-primary bg-dark rounded-5">
                        <i class="bi bi-envelope"></i>
                    </button>
                    <h3 class="ms-2 fs-6 fst-normal text-dark d-inline">devdoma2002@gmail.com</h3>
                </a>
            </div>
        </div>

        <div class="col-lg-8 col-md-6 mt-4 mt-md-0 d-flex justify-content-center align-items-center">
            <img loading="lazy" src="assets/close-up-contact-us-word_352439-2128.avif" class="img-fluid rounded-3">
        </div>
    </div>
</div>
