<div class="container-fluid p-lg-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h1 class="fw-bold mb-4">Contact me</h1>
            <ul>
                <li class="mb-3 ">
                    <a href="https://github.com/mahmouddoma"><i class="bi bi-github"></i>
                        <h3 class="ms-3 fs-6 fst-normal text-light d-inline">Show More in Github</h3>
                    </a>
                </li>
                <li class="mb-3 ">
                    <a href="https://www.linkedin.com/in/mahmoud-doma-4520a222a/">
                        <i class="bi bi-linkedin"></i>
                        <h3 class="ms-3 fs-6 fst-normal d-inline text-light">Contact me on LinkedIn</h3>
                    </a>
                </li>
                <li class="mb-3 ">
                    <a href="https://www.facebook.com/mr.abodoma/"><i class="bi bi-facebook text-light "></i>
                        <h3 class="ms-3 fs-6 fst-normal mt-2 d-inline text-light ">Contact me on Facebook</h3>
                    </a>
                </li>
                <li class="mb-3 ">
                    <a href="https://twitter.com/Mahmouddoma20"><i class="bi bi-twitter-x"></i>
                        <h3 class="ms-3 fs-6 fst-normal mt-2 text-light d-inline">Contact me on Twitter</h3>
                    </a>
                </li>
                <li class="mb-3 ">
                    <a href="mailto:devdoma2002@gmail.com"><i class="bi bi-envelope"></i>
                        <h3 class="ms-3 fs-6 fst-normal mt-2 text-light d-inline">devdoma2002@gmail.com </h3>
                    </a>
                </li>
                <li class="mb-3 ">
                    <a href="https://www.instagram.com/mahmouddomaa_/"><i class="fa-brands fa-instagram"></i>
                        <h3 class="ms-3 fs-6 fst-normal mt-2 text-light d-inline">Contact Me On Instgram</h3>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>