<div class="container">
    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
            <button class="btn btn-outline-secondary mb-2" (click)="RestFilters()" [hidden]="!filtering">Reset</button>
        </div>
        <div>
            <div [collapse]="isCollapsed" [isAnimated]="true">
                <div class="border mb-2 shadow-sm" style="width: 250px;">
                    <form>
                        <div class="row mx-0">
                            <div class="col">
                                <small><b>Language:</b></small>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="typescript"
                                        (change)="Filter()"
                                        name="TypeScript">
                                        <label class="form-check-label small">TypeScript</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="javascript"
                                        (change)="Filter()"
                                        name="javascript">
                                        <label class="form-check-label small">javaScript</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="html"
                                        (change)="Filter()"
                                        name="HTML">
                                        <label class="form-check-label small">HTML</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="css"
                                        (change)="Filter()"
                                        name="CSS">
                                        <label class="form-check-label small">CSS</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="scss"
                                        (change)="Filter()"
                                        name="SCSS">
                                        <label class="form-check-label small">SCSS</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="git"
                                        (change)="Filter()"
                                        name="Git">
                                        <label class="form-check-label small">Git</label>
                                    </div>
                                </div>    
                            </div>
                            <div class="col">
                                <small><b>FrameWorks:</b></small>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="angular"
                                        (change)="Filter()"
                                        name="Angular">
                                        <label class="form-check-label small">Angular</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="bootstrap"
                                        (change)="Filter()"
                                        name="bootstrap">
                                        <label class="form-check-label small">bootstrap</label>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" max-width="380px" min-width="380px">
            <app-project-card [project]="project"></app-project-card>
        </div>  
    </div>
</div>