h3, h2, li {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
accodion-group::ng-deeppage .btn-link { 
    color: #fff;
}
.btn-link {
    text-decoration: none; 
    
}
::ng-deep .card-header.panel-enabled {
    background-color: #cdd9e6 !important;
    color: #fff !important;
}

.container {
    margin-top: 20px; 
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.accordion-group {
    margin-bottom: 20px; 
}

.accordion-group button {
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #ccc;
}

.accordion-group h3.text-primary {
    color: #007bff;
}

.accordion-group ul li {
    list-style-type: square;
    margin-left: 20px;
}

.accordion-group img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.accordion-group button.btn-primary {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}
.container {
    padding: 20px;
  }
  
  .btn {
    font-size: 1rem;
  }
  
  .btn-primary {
    margin-bottom: 15px;
    padding: 10px 20px;
  }